// Navigation Styles here

.navigationContainer{
    width: 100%;
    border-bottom: 1px dashed black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 8%;
    padding-left: 13%;

    h1{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .navigationBar{
        display: inline-fex;
        justify-content: space-around;
        width: 40%;


        a{
            font-size: 1.25rem;
            text-decoration: none;
            color: @shark;
            padding: 0px 1.75rem;
        }
    }
}

